{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-xml-feed-template" class="btn btn-primary">
                    <i class="fa fa-save"></i> {{ button_save }}
                </button>
                <a href="{{ cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i> {{ button_cancel }}
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i> {{ error.warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
                <i class="fa fa-check-circle"></i> {{ success }}
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i> {{ text_edit }}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-xml-feed-template" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-category" data-toggle="tab">{{ tab_category }}</a></li>
                        <li><a href="#tab-manufacturer" data-toggle="tab">{{ tab_manufacturer }}</a></li>
                        <li><a href="#tab-attributes" data-toggle="tab">{{ tab_attributes }}</a></li>
                        <li><a href="#tab-options" data-toggle="tab">{{ tab_options }}</a></li>
                        <li><a href="#tab-tags" data-toggle="tab">{{ tab_tags }}</a></li>
                        <li><a href="#tab-support" data-toggle="tab">{{ tab_support }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-control">
                                        <option value="1" {% if status %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0" {% if not status %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
                                    <div class="alert alert-info">{{ help_name }}</div>
                                    {% if error.name %}
                                        <div class="text-danger">{{ error.name }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-filename">{{ entry_filename }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="filename" value="{{ filename }}" placeholder="{{ entry_filename }}" id="input-filename" class="form-control"/>
                                    <div class="alert alert-info">{{ help_filename }}</div>
                                    {% if error.filename %}
                                        <div class="text-danger">{{ error.filename }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-template">{{ entry_template }}</label>
                                <div class="col-sm-10">
                                    <select name="template" id="input-template" class="form-control">
                                        {% if templates %}
                                            {% for key, template in templates %}
                                                <option value="{{ key }}" {{ key == template_code ? 'selected' }}>
                                                    {{ template }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-language">{{ entry_language }}</label>
                                <div class="col-sm-10">
                                    <select name="language_id" id="input-language" class="form-control">
                                        {% for language in languages %}
                                            {% if language.language_id == language_id %}
                                                <option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
                                            {% else %}
                                                <option value="{{ language.language_id }}">{{ language.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-currency-code">{{ entry_currency }}</label>
                                <div class="col-sm-10">
                                    <select name="currency_code" id="input-currency-code" class="form-control">
                                        {% for currency in currencies %}
                                            {{ currency.code }}

                                        {% if currency.code == currency_code %}
                                            <option value="{{ currency.code }}" selected="selected">{{ currency.title }}</option>
                                        {% else %}
                                            <option value="{{ currency.code }}">{{ currency.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-info">{{ help_currency }}</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-image-origin">{{ entry_image_origin }}</label>
                                <div class="col-sm-10">
                                    <select name="image_origin" id="input-image-origin" class="form-control">
                                        <option value="1" {% if image_origin %}selected="selected"{% endif %}>{{ text_yes }}</option>
                                        <option value="0" {% if not image_origin %}selected="selected"{% endif %}>{{ text_no }}</option>
                                    </select>
                                    <div class="alert alert-info">{{ help_image_origin }}</div>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-image-count">{{ entry_image_count }}</label>
                                <div class="col-sm-10">
                                    <input type="number" min="1" max="8" name="image_count" value="{{ image_count }}" id="input-image-count" class="form-control">
                                    <div class="alert alert-info">{{ help_image_count }}</div>
                                    {% if error.image_count %}
                                        <div class="text-danger">{{ error.image_count }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-image-width">{{ entry_image_width }}</label>
                                <div class="col-sm-4">
                                    <input type="text" name="setting[image_width]" value="{{ image_width }}" id="input-image-width" class="form-control">
                                </div>
                                <label class="col-sm-2 control-label" for="input-image-height">{{ entry_image_height }}</label>
                                <div class="col-sm-4">
                                    <input type="text" name="setting[image_height]" value="{{ image_height }}" id="input-image-height" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-category">
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <h4>{{ entry_category }}</h4>
                                </div>
                                <div class="col-sm-12">
                                    <div class="well well-sm" style="min-height: 150px;max-height: 350px;overflow: auto;">
                                        <table class="table table-striped">
                                            {% for category in categories %}
                                                <tr>
                                                    <td class="checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   name="setting[category_list][]"
                                                                   value="{{ category.category_id }}"
                                                                    {{ category_list is not empty and category.category_id in category_list ? 'checked' }}
                                                            />
                                                            {{ category.name }}
                                                        </label>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> /
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <h4>{{ entry_category_related }}</h4>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table table-striped">
                                        {% for category in categories %}
                                            <tr>
                                                <td class="col-sm-4">{{ category.name }}</td>
                                                {% if category_related %}
                                                    <td class="col-sm-4">
                                                        <input type="text" name="setting[category_related][{{ category.category_id }}]" value="{{ category_related[category.category_id] }}" placeholder="{{ help_category_related }}" class="form-control"/>
                                                    </td>
                                                    <td class="col-sm-4">
                                                        <input type="text" name="setting[category_related_ids][{{ category.category_id }}]" value="{{ category_related_id[category.category_id] }}" placeholder="{{ help_category_related_id }}" class="form-control"/>
                                                    </td>
                                                {% else %}
                                                    <td class="col-sm-4">
                                                        <input type="text" name="setting[category_related][{{ category.category_id }}]" value="" placeholder="{{ help_category_related }}" class="form-control"/>
                                                    </td>
                                                    <td class="col-sm-4">
                                                        <input type="text" name="setting[category_related_ids][{{ category.category_id }}]" value="" placeholder="{{ help_category_related_id }}" class="form-control"/>
                                                    </td>
                                                {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-manufacturer">
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <h4>{{ entry_manufacturer }}</h4>
                                </div>
                                <div class="col-sm-12">
                                    <div class="well well-sm" style="min-height: 150px;max-height: 350px;overflow: auto;">
                                        <table class="table table-striped">
                                            {% for manufacturer in manufacturers %}
                                                <tr>
                                                    <td class="checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   name="setting[brand_list][]"
                                                                   value="{{ manufacturer.manufacturer_id }}"
                                                                    {{ manufacturer.manufacturer_id in brand_list ? 'checked' }}
                                                            /> {{ manufacturer.name }}
                                                        </label>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> /
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-attributes">
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <h4>{{ entry_attribute }}</h4>
                                </div>
                                <div class="col-sm-12">
                                    <div class="well well-sm" style="min-height: 150px;max-height: 350px;overflow: auto;">
                                        <table class="table table-striped">
                                            {% for attribute in attributes %}
                                                <tr>
                                                    <td class="checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   name="setting[attribute_list][]"
                                                                   value="{{ attribute.attribute_id }}"
                                                                    {{ attribute.attribute_id in attribute_list ? 'checked' }}
                                                            /> {{ attribute.name }}
                                                        </label>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> /
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_attribute_warranty }}</label>
                                <div class="col-sm-10">
                                    <select name="setting[attribute_warranty]" id="input-attribute-warranty" class="form-control">
                                        <option value="0">{{ text_none }}</option>
                                        {% for attribute in attributes %}
                                            <option value="{{ attribute.attribute_id }}" {{ attribute.attribute_id == attribute_warranty ? 'selected' }}>
                                                {{ attribute.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-info">{{ help_attribute_warranty }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-options">
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <h4>{{ entry_option }}</h4>
                                </div>
                                <div class="col-sm-12">
                                    <div class="well well-sm" style="min-height: 150px;max-height: 350px;overflow: auto;">
                                        <table class="table table-striped">
                                            {% for option in options %}
                                                <tr>
                                                    <td class="checkbox">
                                                        <label>
                                                            <input type="checkbox"
                                                                   name="setting[option_list][]"
                                                                   value="{{ option.option_id }}"
                                                                    {{ option.option_id in option_list ? 'checked' }}
                                                            />
                                                            {{ option.name }}
                                                        </label>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> /
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_option_color }}</label>
                                <div class="col-sm-4">
                                    <select name="setting[option_color]" id="input-option-color" class="form-control">
                                        <option value="0">{{ text_none }}</option>
                                        {% for option in options %}
                                            <option value="{{ option.option_id }}" {{ option.option_id == option_color ? 'selected' }}>
                                                {{ option.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">{{ entry_option_size }}</label>
                                <div class="col-sm-4">
                                    <select name="setting[option_size]" id="input-option-size" class="form-control">
                                        <option value="0">{{ text_none }}</option>
                                        {% for option in options %}
                                            <option value="{{ option.option_id }}" {{ option.option_id == option_size ? 'selected' }}>
                                                {{ option.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-tags">
                            {{ text_tags_info }}
                            <table class="table table-bordered table-hover" id="items-table" width="50%">
                                <thead>
                                <tr>
                                    <td width="200px" class="left">{{ column_tag }}</td>
                                    <td>{{ column_descrition }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}date{{ '}}' }}</code></td>
                                    <td>{{ tag_date }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}url{{ '}}' }}</code></td>
                                    <td>{{ tag_url }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}currency{{ '}}' }}</code></td>
                                    <td>{{ tag_currency }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}categories{{ '}}' }}</code></td>
                                    <td>{{ tag_categories }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}category{{ '}}' }}</code></td>
                                    <td>{{ tag_category }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}category.id{{ '}}' }}</code></td>
                                    <td>{{ tag_category_id }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}category.parent_id{{ '}}' }}</code></td>
                                    <td>{{ tag_category_parent }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}category.name{{ '}}' }}</code></td>
                                    <td>{{ tag_category_name }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}pages{{ '}}' }}</code></td>
                                    <td>{{ tag_pages }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}page{{ '}}' }}</code></td>
                                    <td>{{ tag_page }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}page.offers{{ '}}' }}</code></td>
                                    <td>{{ tag_products }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer{{ '}}' }}</code></td>
                                    <td>{{ tag_product }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.id{{ '}}' }}</code></td>
                                    <td>{{ tag_product_id }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.url{{ '}}' }}</code></td>
                                    <td>{{ tag_product_url }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.price{{ '}}' }}</code></td>
                                    <td>{{ tag_product_price }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.category_id{{ '}}' }}</code></td>
                                    <td>{{ tag_product_category_id }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.name{{ '}}' }}</code></td>
                                    <td>{{ tag_product_name }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.h1{{ '}}' }}</code></td>
                                    <td>{{ tag_product_h1 }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.price{{ '}}' }}</code></td>
                                    <td>{{ tag_product_price }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.special{{ '}}' }}</code></td>
                                    <td>{{ tag_product_special }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.description{{ '}}' }}</code></td>
                                    <td>{{ tag_product_description }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.model{{ '}}' }}</code></td>
                                    <td>{{ tag_product_model }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.quantity{{ '}}' }}</code></td>
                                    <td>{{ tag_product_quantity }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.available{{ '}}' }}</code></td>
                                    <td>{{ tag_product_available }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.vendor{{ '}}' }}</code></td>
                                    <td>{{ tag_product_vendor }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.vendorCode{{ '}}' }}</code></td>
                                    <td>{{ tag_product_vendorCode }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.images{{ '}}' }}</code></td>
                                    <td>{{ tag_product_images }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.image{{ '}}' }}</code></td>
                                    <td>{{ tag_product_image }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.size{{ '}}' }}</code></td>
                                    <td>{{ tag_offer_size }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.color{{ '}}' }}</code></td>
                                    <td>{{ tag_offer_color }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.shipping{{ '}}' }}</code></td>
                                    <td>{{ tag_product_shipping }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.warranty{{ '}}' }}</code></td>
                                    <td>{{ tag_product_warranty }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.options{{ '}}' }}</code></td>
                                    <td>{{ tag_product_options }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option{{ '}}' }}</code></td>
                                    <td>{{ tag_option }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.id{{ '}}' }}</code></td>
                                    <td>{{ tag_option_id }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.group{{ '}}' }}</code></td>
                                    <td>{{ tag_option_group }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.name{{ '}}' }}</code></td>
                                    <td>{{ tag_option_name }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.value{{ '}}' }}</code></td>
                                    <td>{{ tag_option_value }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.price{{ '}}' }}</code></td>
                                    <td>{{ tag_option_price }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.weight{{ '}}' }}</code></td>
                                    <td>{{ tag_option_weight }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}option.quantity{{ '}}' }}</code></td>
                                    <td>{{ tag_option_quantity }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}offer.attributes{{ '}}' }}</code></td>
                                    <td>{{ tag_product_attributes }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}attribute{{ '}}' }}</code></td>
                                    <td>{{ tag_attribute }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}attributes.group{{ '}}' }}</code></td>
                                    <td>{{ tag_attributes_group }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}attributes.name{{ '}}' }}</code></td>
                                    <td>{{ tag_attributes_name }}</td>
                                </tr>
                                <tr>
                                    <td class="left"><code>{{ '{{' }}attributes.value{{ '}}' }}</code></td>
                                    <td>{{ tag_attributes_value }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-support">
                            {{ text_aw_support }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
