<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-exchange"></i> {{ text_import_export_title }}</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> {{ text_import_export_info }}
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-download"></i> {{ button_export }}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ text_export_description }}</p>
                            <button type="button" id="btn-export-config" class="btn btn-success btn-lg btn-block">
                                <i class="fa fa-download"></i> {{ button_export }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-upload"></i> {{ button_import }}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ text_import_description }}</p>
                            <div class="alert alert-warning">
                                {{ text_import_warning }}
                            </div>
                            <button type="button" id="btn-import-config" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-upload"></i> {{ button_import }}
                            </button>
                            <input type="file" id="import-file" name="import_file" accept=".json" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
