<div class="col-sm-12 mb-10">
    <h3>{{ entry_tags }}</h3>
</div>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td class="col-sm-3">{{ entry_tag_valiable }}</td>
        <td class="col-sm-9">{{ entry_tag_description }}</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span class="badge-code">{{ '{{order_date}}' }}</span></td>
        <td>{{ tag_date }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{current_date}}' }}</span></td>
        <td>{{ tag_current_date }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{current_time}}' }}</span></td>
        <td>{{ tag_time }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{store_name}}' }}</span></td>
        <td>{{ tag_store }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{store_url}}' }}</span></td>
        <td>{{ tag_url }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{firstname}}' }}</span></td>
        <td>{{ tag_firstname }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{lastname}}' }}</span></td>
        <td>{{ tag_lastname }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_id}}' }}</span></td>
        <td>{{ tag_order_id }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_total}}' }}</span></td>
        <td>{{ tag_order_total }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_total_noship}}' }}</span></td>
        <td>{{ tag_order_total_noship }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_phone}}' }}</span></td>
        <td>{{ tag_order_phone }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_track_no}}' }}</span></td>
        <td>{{ tag_track_no }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_comment}}' }}</span></td>
        <td>{{ tag_order_comment }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{order_status}}' }}</span></td>
        <td>{{ tag_order_status }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{payment_method}}' }}</span></td>
        <td>{{ tag_payment_method }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{payment_city}}' }}</span></td>
        <td>{{ tag_payment_city }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{payment_address}}' }}</span></td>
        <td>{{ tag_payment_address }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{shipping_cost}}' }}</span></td>
        <td>{{ tag_shipping_cost }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{shipping_method}}' }}</span></td>
        <td>{{ tag_shipping_method }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{shipping_city}}' }}</span></td>
        <td>{{ tag_shipping_city }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{shipping_address}}' }}</span></td>
        <td>{{ tag_shipping_address }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{products}}' }}</span></td>
        <td>
            {{ tag_products }}
            <div class="mt-5 text-info">{{ help_product }}</div>
        </td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product.name}}' }}</span></td>
        <td>{{ tag_product_name }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product.model}}' }}</span></td>
        <td>{{ tag_product_model }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product.sku}}' }}</span></td>
        <td>{{ tag_product_sku }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product.price}}' }}</span></td>
        <td>{{ tag_product_price }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product.quantity}}' }}</span></td>
        <td>{{ tag_product_quantity }}</td>
    </tr>
    <tr>
        <td><span class="badge-code">{{ '{{product_total}}' }}</span></td>
        <td>{{ tag_product_total }}</td>
    </tr>
    </tbody>
</table>
