<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> {{ text_advanced_description }}
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="currency_format">{{ entry_currency_format }}</label>
    <div class="col-sm-6">
        <select name="currency_format" id="currency_format" class="form-control">
            <option value="session" {% if currencyFormat == 'session' %}selected{% endif %}>{{ text_currency_session }}</option>
            <option value="config" {% if currencyFormat == 'config' %}selected{% endif %}>{{ text_currency_config }}</option>
        </select>
        <p class="help-block">{{ entry_currency_format_help }}</p>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-3 control-label">{{ entry_price_with_tax }}</div>
    <label class="col-xs-9 col-sm-6 checkbox-switch" for="price_with_tax">
        <input type="hidden" name="price_with_tax" value="0" {% if not priceWithTax %}checked="checked"{% endif %} />
        <input type="checkbox" name="price_with_tax" value="1" id="price_with_tax" {% if priceWithTax %}checked="checked"{% endif %} />
    </label>
    <div class="col-xs-12 col-sm-offset-3 col-sm-9">
        <p class="help-block">{{ entry_price_with_tax_help }}</p>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-3 control-label">{{ entry_send_product_options }}</div>
    <label class="col-xs-9 col-sm-6 checkbox-switch" for="send_product_options">
        <input type="hidden" name="send_product_options" value="0" {% if not sendProductOptions %}checked="checked"{% endif %} />
        <input type="checkbox" name="send_product_options" value="1" id="send_product_options" {% if sendProductOptions %}checked="checked"{% endif %} />
    </label>
    <div class="col-xs-12 col-sm-offset-3 col-sm-9">
        <p class="help-block">{{ entry_send_product_options_help }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="custom_dimensions">{{ entry_custom_dimensions }}</label>
    <div class="col-sm-9">
        <textarea name="custom_dimensions" id="custom_dimensions" rows="5" class="form-control" placeholder='{"dimension1": "value1", "dimension2": "value2"}'>{{ customDimensions }}</textarea>
        <p class="help-block">{{ entry_custom_dimensions_help }}</p>
    </div>
</div>
