{% for section in sections %}
    <fieldset>
        {% if section.title %}
            <legend>{{ section.title }}</legend>
        {% endif %}
        <ul class="nav nav-tabs">
            {% for language in languages if language.status %}
                {% set isActive = (defaultLanguageId ? language.language_id == defaultLanguageId : loop.first) %}
                <li class="{{ isActive ? 'active' }}">
                    <a href="#tab-{{ section.id }}{{ language.language_id }}" data-toggle="tab">
                        <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" alt="{{ language.name }}"/>
                        {{ language.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for language in languages if language.status %}
                {% set isActive = (defaultLanguageId ? language.language_id == defaultLanguageId : loop.first) %}
                <div id="tab-{{ section.id }}{{ language.language_id }}" class="tab-pane {{ isActive ? 'active' }}">
                    {% include section.template ignore missing with { language: language, section: section } %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endfor %}
