<div class="form-group">
    <div class="col-sm-3 control-label">{{ entry_status }}</div>
    <label class="col-xs-9 col-sm-6 checkbox-switch" for="status">
        <input type="hidden" name="status" value="0" id="status-off" {% if not gdpr_status %}checked="checked"{% endif %}/>
        <input type="checkbox" name="status" value="1" id="status" {% if gdpr_status %}checked="checked"{% endif %}/>
    </label>
    <div class="col-xs-12 col-sm-offset-3 col-sm-9"><p class="help-block">{{ help_status }}</p></div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="input-default-code">{{ entry_default_code }}</label>
    <div class="col-xs-9 col-sm-6">
        <select name="default_code" id="input-default-code" class="form-control">
            {% for code in status_codes %}
                <option value="{{ code }}" {{ default_code == code ? 'selected' }}>{{ code }}</option>
            {% endfor %}
        </select>
        <p class="help-block">{{ help_default_code }}</p>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-3 control-label">{{ entry_log_404 }}</div>
    <label class="col-xs-9 col-sm-6 checkbox-switch" for="log_404">
        <input type="hidden" name="log_404" value="0" id="log_404-off" {% if not log_404 %}checked="checked"{% endif %}/>
        <input type="checkbox" name="log_404" value="1" id="log_404" {% if log_404 %}checked="checked"{% endif %}/>
    </label>
    <div class="col-xs-12 col-sm-offset-3 col-sm-9"><p class="help-block">{{ help_log_404 }}</p></div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="input-ignore">{{ entry_ignore }}</label>
    <div class="col-xs-9 col-sm-6">
        <textarea name="ignore_patterns" rows="5" id="input-ignore" class="form-control" placeholder="*.php">{{ ignore_patterns }}</textarea>
        <p class="help-block">{{ help_ignore }}</p>
    </div>
</div>
